<nav class="site-nav">  
  <div class="trigger">
  	<a class="nav-close" href="javascript:void(0);"><i class="fa fa-times" aria-hidden="true"></i></a>
    {% if site.home_link_enabled == true  %}<a class="page-link" href="/">Home</a>{% endif %}
    {% if site.blog_enabled == true  %}<a class="page-link" href="/{{ site.blog_slug }}/">{{ site.blog_title }}</a>{% endif %}
    {% assign sorted_pages = site.pages | sort:"priority" %}
    {% for my_page in sorted_pages  %}
      {% if my_page.title %}
      {% if my_page.title != 'Blog' %}        
        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
      {% endif %}
      {% endif %}
    {% endfor %}

    {% if site.show_categories == true %} 
      <div class="panel-group" id="accordion1">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h6>Post Categories</h6>         
          </div>
          {% assign counter = 0 %}
          {% for category in site.categories %}
          {% assign counter = counter | plus: 1 %}
            <div class="panel-body">
              <a class="panel-title collapsed" data-toggle="collapse" data-parent="#accordion{{ counter }}" href="#collapse{{ counter }}" name="{{ category | first }}">{{ category | first }} </a>

              <div id="collapse{{ counter }}" class="panel-collapse collapse">
              {% for posts in category %}
                {% for post in posts %}                  
                  {% if post.url %}
                  <a href="{{ post.url }}">{{ post.title }} <span>({{ post.date | date: "%m %d %Y"  }})</a>
                  {% endif %}
                {% endfor %}
              {% endfor %}
              </div>   
            </div>
          {% endfor %}          
        </div>
      </div>   
    {% endif %}

  </div>
</nav>