---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Changa+One|Catamaran|Cabin');


// Spacing
$spacing-unit:     30px;
$content-width:    800px; 

// Typography

// -Base Fonts
$base-font-family: "Catamaran", Helvetica, Arial, sans-serif;
$base-font-size:   100%;
$base-font-weight: 400;
$base-line-height: 1.4;
$small-font-size:  $base-font-size * 0.875;
// -Header Fonts
$base-header-font-family: "Cabin", Helvetica, Arial, sans-serif;
// -Logo Fonts
$base-logo-font-family: "Changa One", Helvetica, Arial, sans-serif;
$base-logo-font-size: 30px;
$base-tagline-font-size: 16px;

// Colors
$brand-color:      #4f825c;
$brand-color-secondary:      #2a7ae2;
$text-color:       #111;
$background-color: #fdfdfd;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Breakpoints
$bp-xlarge:			1200px;
$bp-large:			1024px;
$bp-medium:			768px;
$bp-small:			525px;
$bp-xsmall:			425px;
$bp-xxsmall:		320px;

$on-palm:          600px;
$on-laptop:        800px;

// Import partials from the `minima` theme.
@import "mixins";
@import "base";
@import "variables";
@import "bootstrap";
@import "htmlbro";
@import "font-awesome";
@import "syntax-highlighting";
